% macOS hidden files
/.DS_Store

% my own notes
/CHANGES.md

% latex auxilary files

# /latex_output/*.aux # they are needed for xref
/latex_output/*.bbl
/latex_output/*.blg
/latex_output/*.fdb_latexmk
/latex_output/*.fls
/latex_output/*.log
/latex_output/*.out
/latex_output/*.synctex.gz
/latex_output/*.thm
/latex_output/*.toc
/latex_output/*.lof
/latex_output/*.lot


# I've tried to implement a CrossRef API to get the BibTeX entries for the references.
# However, it didn't work 
/crossrefapi.py
/zengin.bib

